aiohttp
async-timeout==3.0.1
attrs==20.3.0
cffi==1.14.5
chardet
discord.py==1.6.0
idna==3.1
lavalink==3.1.4
multidict
pycparser==2.20
PyNaCl==1.4.0
python-dotenv==0.15.0
six==1.15.0
typing-extensions==3.7.4.3
wavelink
yarl
